In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
df = pd.read_csv("C:\\Users\\pandy\\Downloads\\astronauts.csv")

# Database connection string
cs = 'postgresql://postgres:Saloni%4016@localhost/astronauts'

# Create an SQLAlchemy engine
engine = create_engine(cs)

# Save the DataFrame to a SQL table
df.to_sql('astronauts', con=engine, if_exists='replace', index=False)

# Optional: Confirm the data has been inserted
with engine.connect() as conn:
    result = conn.execute("SELECT * FROM astronauts LIMIT 5")
    for row in result:
        print(row)

('Joseph M. Acaba', 2004.0, 19.0, 'Active', '5/17/1967', 'Inglewood, CA', 'Male', 'University of California-Santa Barbara; University of Arizona', 'Geology', 'Geology', None, None, 2, 3307, 2, 13.0, 'STS-119 (Discovery), ISS-31/32 (Soyuz)', None, None)
('Loren W. Acton', None, None, 'Retired', '3/7/1936', 'Lewiston, MT', 'Male', 'Montana State University; University of Colorado', 'Engineering Physics', 'Solar Physics', None, None, 1, 190, 0, 0.0, 'STS 51-F (Challenger)', None, None)
('James C. Adamson', 1984.0, 10.0, 'Retired', '3/3/1946', 'Warsaw, NY', 'Male', 'US Military Academy; Princeton University', 'Engineering', 'Aerospace Engineering', 'Colonel', 'US Army (Retired)', 2, 334, 0, 0.0, 'STS-28 (Columbia), STS-43 (Atlantis)', None, None)
('Thomas D. Akers', 1987.0, 12.0, 'Retired', '5/20/1951', 'St. Louis, MO', 'Male', 'University of Missouri-Rolla', 'Applied Mathematics', 'Applied Mathematics', 'Colonel', 'US Air Force (Retired)', 4, 814, 4, 29.0, 'STS-41 (Discovery), STS-49 (Endeavor), STS-61 (Endeavor), STS-79 (Atlantis)', None, None)
('Buzz Aldrin', 1963.0, 3.0, 'Retired', '1/20/1930', 'Montclair, NJ', 'Male', 'US Military Academy; MIT', 'Mechanical Engineering', 'Astronautics', 'Colonel', 'US Air Force (Retired)', 2, 289, 2, 8.0, 'Gemini 12, Apollo 11', None, None)